.submarine {
  height: 60px;
  width: 120px;
  background: black;
  // background-image: url('../../assets/submarine.png')
}

.plane {
    height: 40px;
  width: 70px;
  background: coral;
}

.water {
  width: 100vw;
  height: 60vh;
  position: absolute;
  bottom: 0;
  background: cornflowerblue;
  z-index: 1;
  overflow: hidden;
}

.sky {
  width: 100vw;
  height: 40vh;
  position: absolute;
  background: lightgray;
  overflow: hidden;
}

.sky__box {
  width: 500px;
  height: auto;
  position: absolute;
  right: 0;
  top: 90px;
  border: red 2px solid;
}

.obstacle {
  width: 40px;
  height: 40px;
  background: purple;
  position: absolute;
}

.obstacle--waste {
  background: green;
}

.score {
  position: absolute;
  z-index: 1;
  right: 0;
  font-size: 30px;
  font-family: monospace;
}

.score--waste {
  right : 80px;
}

.obstacle--boat {
  width: 270px;
  height: 120px;
}

.water__top {
  width: 100vw;
  height: 50vh;
  position: absolute;
  z-index: 1000;
}

.obstacle--shark {
  position: absolute;
  width: 160px;
  height: 50px;
  // background-image: url('../../assets/shark.gif')
}

.hitboxe {
  visibility: hidden;
}