* {
  box-sizing: border-box;
}

.submarine {
  height: 80px;
  width: 120px;
  background-image: url('../../src/assets/submarine.png');
  background-size: contain;
  background-repeat: no-repeat;
  // border: red 2px solid;
}

.plane {
    height: 40px;
  width: 70px;
  background: coral;
}

.water {
  width: 100vw;
  height: 60vh;
  position: absolute;
  bottom: 0;
  background: cornflowerblue;
  z-index: 1;
  overflow: hidden;
}

.sky {
  width: 100vw;
  height: 40vh;
  position: absolute;
  background: lightgray;
  overflow: hidden;
}

.sky__box {
  width: 500px;
  height: auto;
  position: absolute;
  right: 0;
  top: 90px;
  border: red 2px solid;
}

.obstacle {
  width: 40px;
  height: 40px;
  background: purple;
  position: absolute;
}

.obstacle--waste {
  background: green;
}

.score {
  position: absolute;
  z-index: 1;
  right: 0;
  font-size: 30px;
  font-family: monospace;
}

.score--waste {
  right : 80px;
}

.obstacle--boat {
  width: 270px;
  height: 120px;
}

.water__top {
  width: 100vw;
  height: 50vh;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
}

.obstacle--shark {
  position: absolute;
  width: 160px;
  height: 50px;
  // background-image: url('../../assets/shark.gif')
}

// .hitboxe {
//   visibility: hidden;
// }

.background {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 20vh;
  z-index: 1;
}

// .background__far {
//  background-image: url('../../src/assets/background/far.png');
//  height: inherit;
//  width: inherit;
//  background-size: contain;
//  z-index: inherit;
// }

// .background__sand {
//   background-image: url('../../src/assets/background/sand.png');
//   height: inherit;
//   width: inherit;
//   background-size: contain;       // répétitions css
//   z-index: -1;
// }